p {
  font-family: 'Nanum Pen Script', cursive;
}

h1, .stats {
  font-family: 'Permanent Marker', cursive;
}

.monster {
  display: inline-block;
  background-image: url("../img/paper.jpg");
  background-size: 650px;
  margin: 0.1in;
  padding: 5px;
  width: 5in;
  height: 3in;
}

.monster h1 {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.monster p {
  margin: 0;
  margin-top: 5px;
}

.lore {
  font-size: 12px;
}

.hearts {
  margin-bottom: 5px;
}

.noprint {
  display: none;
}